<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>todolist</title>
</head>
<body>
<h1>Filtered ancestors</h1>
<div>
    <a href="/select">Filter again with another string</a>
</div>
<br>
<table>
    <thead>
    <tr>
        <th> mhId</th>
        <th> name</th>
        <th> birthYear</th>
        <th> birthPlace</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ancestor : ${ancestors}">
        <td><span th:text="${ancestor.getMhId()}">  </span></td>
        <td><span th:text="${ancestor.getName()}">  </span></td>
        <td><span th:text="${ancestor.getBirthYear()}">  </span></td>
        <td><span th:text="${ancestor.getBirthPlace()}">  </span></td>
        <td><span> <a th:href="@{'/ancestor/edit'}" th:text="edit"></a></span></td>
    </tr>
    </tbody>
</table>
</body>
</html>