<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit ancestor</title>
</head>
<body>
<h1> Edit Ancestor </h1>
<form action="#" th:action="|/ancestor/edit|" th:object="${ancestor}" method="POST">
    <input type="hidden" th:field="*{id}">
    <label for="name">Name</label><br>
    <input type="text" id="name" th:field="*{name}"><br>
    <label for="firstName">First name</label><br>
    <input type="text" id="firstName" th:field="*{firstName}"><br>
    <label for="surname">Surname</label><br>
    <input type="text" id="surname" th:field="*{surname}"><br>
    <label for="birthYear">Birth Year</label><br>
    <input type="text" id="birthYear" th:field="*{birthYear}"><br>
    <label for="birthPlace">Birth place</label><br>
    <input type="text" id="birthPlace" th:field="*{birthPlace}"><br>
    <label for="longitude">Longitude</label><br>
    <input type="text" id="longitude" th:field="*{longitude}"><br>
    <label for="latitude">Latitude</label><br>
    <input type="text" id="latitude" th:field="*{latitude}"><br>
    <input type="submit" value="Submit">
</form>

</body>